@import url("https://fonts.cdnfonts.com/css/dana");
body {
	direction: rtl;
	user-select: none;
}
.quera-cell {
	position: relative;
	right: 0;
}
.quera-cell > div > div {
	max-height: 100% !important;
	display: flex;
	flex-direction: column !important;
}
.quera-cell > div {
	display: flex;
	flex-direction: column-reverse;
}
.quera-cell > div a {
	width: 100%;
}
.quera-cell .addEventIcon {
	/* visibility: hidden; */
	/* transition: all 500ms ease-in-out; */
	/* transition-timing-function: ; */
	display: none;
}
.quera-cell:hover .addEventIcon {
	/* visibility: visible; */
	display: block;
}
.quera-cell.fc-day-today > div {
	background: #fff !important;
	border: 1px solid #208d8e !important;
	z-index: 10;
}
.th-header-calendar > div {
	text-align: right;
}
